<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="26217MathewBlair.Brace" Publisher="CN=BC26F05C-5008-435C-8F16-6A2B8CEC8294" Version="1.0.0.6" />
  <Properties>
    <DisplayName>Brace</DisplayName>
    <PublisherDisplayName>Mathew Blair</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Brace.App">
      <VisualElements DisplayName="Brace" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Brace.WinRTXaml" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" ShortName="Brace" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0C040E" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>